--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==4.57.1
accelerate==1.10.1
numpy==1.26.4
Pillow==11.3.0
pandas==2.2.3
tqdm==4.67.1
av==14.2.0
openpyxl==3.1.5
